{% extends 'layout.html' %}

{% load static %}
{% block main %}
{% static 'img/home-bg.jpg' as home_bg %}
{% include 'banner/banner.html' with banner_image=home_bg banner_title='Register Page' banner_description='This is a Register Page'%}
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div>
          <h2>REGISTER</h2>
        </div>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit">   
        </form>
      </div>
    </div>
  </div>
{% endblock main %}